body {
  background-color: #fff;
  background-image: url('../imgs/bg.jpg');
  background-size: cover;
}

#app {
  opacity: 0.5;
  background-color: #91e4fb;
  border-radius: 25px;
  margin: 50px;
  padding: 30px;
  color: #7a163c;
}

App {
  background-color: #000;
}
